<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/github.css')}}" type="text/css">
    {% endblock %}

    <title>
        {% block title %}
        {% if title %}{{ title }} - Wuqingcong{% else %}欢迎来到180809{% endif %}
        {% endblock %}
    </title>
    {% endblock %}
  </head>
  <body>
    {% set navigation_bar = [
        ('/', 'Index', '文章广场'),
        ('/categories', 'Categories', '分类'),
        ('/tags', 'Tags', '标签')
    ] -%}
    {% set active_page = active_page -%}
    <!-- Your navbar -->
    <div class="container">
      {% block top_content %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static', filename='adminImg.gif')}}" width="200" height="200" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav custom-border-bottom">
                        {% for href, id, caption in navigation_bar %}
                            <li class="nav-item {% if id == active_page %} custom-active {% endif %}">
                                <a class="nav-link" href="{{ href|e }}">{{ caption }}
                                    {% if id == active_page %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        {% if current_user.is_anonymous %}
                            <li class="nav-item ml-3 {% if 'login' == active_page %} custom-active {% endif %}"><a class="nav-link" href="{{ url_for('auth.login') }}">登录</a></li>
                        {% else %}
                            <li class="nav-item {% if 'Profile' == active_page %} custom-active {% endif %}"><a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">关于</a></li>
                            <li class="nav-item {% if 'Messages' == active_page %} custom-active {% endif %}">
                                <a class="nav-link" href="{{ url_for('main.messages') }}">消息
                                    {% set new_messages = current_user.new_messages() %}
                                    <span id="message_count" class="badge" 
                                            style="{% if new_messages %}visibility:visible; background-color:#FFC75F;
                                                                {% else %}visibility:hidden{% endif %};">
                                        {{ new_messages }}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item {% if 'New' == active_page %} custom-active {% endif %}"><a class="nav-link" href="{{ url_for('main.new_post') }}">写文章</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">注销({{ current_user.username }})</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
      {% endblock top_content %}
      {% block navbar %}
        {% if current_user.is_authenticated %}
        {% endif %}
      {% endblock navbar %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

      {% block app_content %}{% endblock app_content %}


      {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {{ moment.include_moment() }}
        <script src="{{ url_for('static', filename='js/iconfont.js')}}"></script>
        <script src="{{ url_for('static', filename='js/highlight.pack.js')}}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
      {{ moment.lang("zh-cn") }}
      <script>
            window.setTimeout(function(){
                $('[data-dismiss="alert"]').alert('close');
            },3000);
            function set_message_count(n) {
                $('#message_count').text(n);
                $('#message_count').css('visibility', n ? 'visible' : 'hidden');
            }
            {% if current_user.is_authenticated %}
            $(function() {
                var since = 0;
                setInterval(function() {
                    $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                        function(notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                if (notifications[i].name == 'unread_message_count')
                                    set_message_count(notifications[i].data);
                                since = notifications[i].timestamp;
                            }
                        }
                    );
                }, 10000);
            });
            {% endif %}
      </script>
      {% endblock %}
    </div>
  </body>
</html>