{% extends "base.html" %}
{% set active_page = "Profile" %}
{% block app_content %}
<div class="bg-white mt-2">
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ url_for('main.uploaded_file', filename=user.avatar()) }}"></td>
            <td>
                <p><span class="custom-font">用户： {{ user.username }}</span></p>
                {% if user.about_me %} <p><span style="font-weight: bolder;">签名：</span>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p><span style="font-weight: bolder;">最后登录时间：</span>{{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p><span style="font-weight: bolder;">关注：</span>{{ user.followed.count() }}&nbsp;&nbsp;<span style="font-weight: bolder;">粉丝：</span>{{ user.followers.count() }}</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">修改资料</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">关注</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">取消关注</a></p>
                {% endif %}
                {% if user != current_user %}
                <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">私信</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <section class="px-2">
        <section class="py-3"><span class="custom-font">{{ user.username }}的所有文章:</span></section>
        {% if posts is not none %}
        <ul class="list-group list-group-flush">
        {% for post in posts %}
            {% include 'user_post.html' %}
        {% endfor %}
        </ul>
        {% else %}
        <div class="text-center">
            {{ user.username }}没有发布任何文章哦！
        </div>
        {% endif %}

    </section>
    
    <nav class="row mx-4">
        <div class="col-6">
                <a class="btn btn-warning" href="{{ prev_url or '#' }}" role="button" {% if not prev_url %} style="pointer-events: none; background-color: #f5e3ae;" aria-disabled="true"{% endif %}><span aria-hidden="true">&larr;</span>上一页</a>
        </div>
        <div class="col-6 text-right">
                <a class="btn btn-warning" href="{{ next_url or '#' }}" role="button" {% if not next_url %} style="pointer-events: none; background-color: #f5e3ae;" aria-disabled="true"{% endif %}>下一页<span aria-hidden="true">&rarr;</span></a>
        </div>
    </nav>
</div>
{% endblock %}
